body {
    background: url("../assets/background_1.jpg");
}

h1 {
    color: white;
    text-align: center;
    font-size: 48px;
}

section {
    background-color: white;
    border: 2px solid black;
    color: rgb(36, 167, 255);
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

a {
    color: rgb(7, 100, 161);
}